CVCRM_USER_1=
CVCRM_PASSWORD_1=
CVCRM_USER_2=
CVCRM_PASSWORD_2=
CVCRM_USER_3=
CVCRM_PASSWORD_3=
CVCRM_USER_4=
CVCRM_PASSWORD_4=
CVCRM_USER_5=
CVCRM_PASSWORD_5=
CVCRM_USER_6=
CVCRM_PASSWORD_6=
CVCRM_USER_7=
CVCRM_PASSWORD_7=
CVCRM_USER_8=
CVCRM_PASSWORD_8=
CVCRM_USER_9=
CVCRM_PASSWORD_9=
CVCRM_USER_10=
CVCRM_PASSWORD_10=
SUPABASE_URL=
SUPABASE_KEY=
BACKEND_INTERNAL_URL=
INTERNAL_NOTIFY_SECRET=
